    <div>
        <h1 class="text-lg font-bold">About us</h1>
        <p class="text-lg">Hola mi nombre <span highlight> Jesús David Palacio Yancy</span> es este es un proyecto que el cual fue hecho con bases con el curso de angular, y de manera personal estoy implementado de manera personal detalles aparte para mi aprendisaje.</p>
        <p class="text-lg">Números de clientes: <app-counter [duration]="postDuration()" [message]="postMessage()" *ngIf="postDuration() > 0"/></p>
        <p>Este es un proyecto que esta e</p>
        <div> 
            <app-wave-audio audioUrl="assets/audio.mp3"/>
        </div>
    </div>
